*{
padding: 0;
margin: 0;
box-sizing: border-box
}
    
body{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 40px 40px 1fr 40px;
    min-height: 100vh;
    grid-template-areas: 
    "header  aside" 
    "nav     aside"
    "article aside"
    "footer  footer";
}
    
header{
    background-color: #f9c74f; 
    text-align: center;
    font-family: 'Zen Dots', cursive;
}
    
nav{
    background-color:#007f5f ;
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
}

a{
    color: white;
}
    
article{
    background: linear-gradient(290deg, #001b2e 0%, #001f54 50.37%, #034078 100%);
    grid-area: article;
    color:white;
}
    
form{
    display: grid;
    gap:10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin:10px;
    text-align: center;
    height: 70%;
}

button{
    width: 100px;
}
    
button a{
    color:black;
    text-decoration: none;
}

li{
    list-style: none;
    background-color: #ffeeba;;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    color: black;
}


aside{
    grid-area: aside;
}
    
aside img{
    width: 455px;
    height: 100%;
}

footer{
    background-color: #f9c74f;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    justify-items: center;
    align-items: center;
}

@media (max-width: 650px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px 1fr 500px 40px;
        grid-template-areas:"header" "nav" "article" "aside" "footer";
    }
    
    header{
        font-size: 0.7rem;
    }
    
    nav{
        font-size: 0.5rem;
    }
    
    article{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}